# Flask基础配置
FLASK_DEBUG=1
FLASK_ENV=development

# wtf配置
WTF_CSRF_ENABLED=False

# SQLAlchemy数据库配置
SQLALCHEMY_DATABASE_URI=postgresql://root:123456@192.168.2.120:5432/llmops?client_encoding=utf8
SQLALCHEMY_POOL_SIZE=30
SQLALCHEMY_POOL_RECYCLE=3600
SQLALCHEMY_ECHO=True

# OpenAI服务提供者
# 不用 OPENAI_BASE_URL OPENAI_API_KEY作为变量，是因为会跟全局系统冲突
OPENAI_API_BASE_URL=
OPENAI_API_BASE_KEY=
OPENAI_API_BASE_MODEL=

# LangSmith配置
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-api-key>
LANGSMITH_PROJECT=

# HuggingFace接口配置
HUGGINGFACEHUB_API_TOKEN=

# 百度千帆服务提供者
qianfan_ak=
qianfan_sk=

# PINECONE 向量数据库秘钥
PINECONE_API_KEY=

# 腾讯云向量数据库配置
TC_VECTOR_DB_URL=http://lb-jnghr6e8-y6sbtpdcne53f70g.clb.ap-guangzhou.tencentclb.com:40000
TC_VECTOR_DB_USERNAME=root
TC_VECTOR_DB_KEY=xxx
TC_VECTOR_DB_DATABASE=llmops-test
TC_VECTOR_DB_TIMEOUT=30